$large-screen: 1024px;
$medium-screen: 780px;
$small-screen: 500px;
.diverreur{
    width: 100vw;
    text-align: center;
}

.perreur{
    text-align: center;
    margin-top:100px;
    margin-bottom:50px;
    font-size: 1em;
}

.divform1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.search-label{
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 1.5em;
    color: #316879;
    margin-bottom: 25px;
}
.div1admin{
    margin: 2% auto 5% auto;
    text-align: center;
} 
.aadmin{
    font-size:3em;
    padding:0px 5% 0px 5%;
    color: #F47A60;
}

.search{
    text-align: center;
    @media screen and (max-width: $small-screen) {
        font-size:0.5em;

    }

}

.search1{
    border: 1px solid #F47A60;
    font-family: "damion", sans-serif;
    color: #F47A60 !important;
    font-size: 2em;
    padding: 5px;
    text-align: center;
}
.search1::placeholder{
    color: #F47A60;

}    
.search2{
    font-size: 1.5em;
    border: 1px solid #F47A60;
    background-color: #316879;
    font-family: "damion", sans-serif;
    text-align: center;
    color: #F47A60;
    padding: 9px;
    margin-left: 10px;
}

.formcon{
    text-align: center;
    margin-top: 25px;
}

.formheadconnect{
    border: 1px solid #F47A60;
    font-family: "damion", sans-serif;
    color: #F47A60 !important;
    font-size: 2em;
    padding: 5px;
    text-align: center;
}

.formheadconnect::placeholder{
    color: #F47A60;

}    
.formheadconnect2{
    border: 1px solid #F47A60;
    font-family: "damion", sans-serif;
    color: #F47A60 !important;
    font-size: 2em;
    padding: 5px;
    text-align: center;
}

.formheadconnect2::placeholder{
    color: #F47A60;

}    

.tabl{
    border: 2px solid #F47A60 !important;
    margin: auto 20%;
    @media screen and (max-width: $small-screen) {
        font-size:0.8em;
        margin: auto 5%;

    }
}

.btnconnecthead{
    font-size: 1.5em;
    border: 1px solid #F47A60;
    background-color: #316879;
    font-family: "damion", sans-serif;
    text-align: center;
    color: #F47A60;
    padding: 9px;
    margin-left: 10px;
    
}


.tabgen{
    padding:5px 10%;
    margin: auto;
}

.tabmov1{
    font-size: 1em;
}

.tabmov2{
    font-size: 1em;
    margin: 0 10px 0 20px;
}

.btnad1{
    font-size: 1.5em;
    color: #F47A60;
    margin-right: 30px;
    padding-left: 30px;
    @media screen and (max-width: $small-screen) {
        font-size:0.8em;

    }
}
.btnad2{
    font-size: 1.5em;
    color: #F47A60;
    @media screen and (max-width: $small-screen) {
        font-size:0.8em;
        margin: auto 5%;

    }
}