  // menu burger n'apparait que sous les 600px
  @media (max-width:600px) {

    .nav{
        display: inherit;
        z-index: 1;
    }

    .navfiltre{
        margin: 30px 0;
    }

    .respmenu{
        margin: 30px 0;
        font-weight: bold;
    }

    li{ 
        font-style: none;
        list-style: none;
        text-align: center;
    }

    #nav-check{
        display:none;
    }

    .nav2{
        display: none;
    }

    .nav > .nav-btn {
      display: inline-block;
      right: 0px;
      top: 0px;
    }

    .dropdown-content {
        position: inherit;
        font-weight: normal;
        margin-top:15px;
        display: none;
        background-color: #316879;
        box-shadow: inherit;
        z-index: 1;
        font-size: 1.2em;
        opacity: 0.90;
      }
      
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #316879;
      max-height: 100%;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 210px;
      left: 0px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }