
/*-- Variables --*/
$grey-color: #316879;
$primary-color: #F47A60;
$large-screen: 1024px;
$medium-screen: 780px;
$small-screen: 576px;

/*---- Global ----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    text-decoration: none;
    box-sizing: border-box;
}

.divtit{
    width:100%;

}

.h1film{
    text-align: center !important;
    margin:inherit;
    margin-top: 2%;
    padding-top: 20px;
    font-family:"damion", sans-serif;
    font-size: 4em;
}
.h2film{
    text-align: center !important;
    margin:inherit;
    font-family:"damion", sans-serif;
    font-size: 2em;
}

.pfunc{
    width: 100%;
    margin: 5px auto 0 auto;
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
    color: $grey-color;
    text-decoration: none;
    font-weight: bold;
    font-size:1.2em
}

html, body { 
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: $grey-color;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.titrefilm{
    font-size:2em;
}

.affiche {
    
    width: 90%;
    margin-top: 15%;
    margin-bottom: 15%;
    height: 500px;
    width: 354px;
    @media screen and (max-width: $small-screen) {
        height: 200px;
        width: 141px;
    }
}

@for $index from 1 through 6 {
    h#{$index}{
      color: $primary-color;
      font-family:"damion", sans-serif;
    }
}


.movie-info{
    margin: auto 10px auto 10px;
    text-align: center;
    padding-bottom: 25px;
}

/*movie-card*/
.movie-card {
    box-shadow: 4px 4px 5px 5px $grey-color;
    border: 3px solid $grey-color;
    margin-left : 13%;
    margin-right : 13%;
    margin-top: 50px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 400px .5fr 400px 2fr;
    grid-template-areas: '. p . m .';
    @media screen and (max-width: $large-screen) {
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    }
    @media screen and (max-width: $medium-screen) {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: '. p .'
                             '. m .';
    }
    @media screen and (max-width: $small-screen) {
        grid-template-columns: .5fr 4fr .5fr;
        grid-template-areas: '. p .'
                             '. m .';
    }
    .poster-wrapper {
        grid-area: p;
        .poster {
            text-align: center;
            align-items:center;
            color: #fff;
            @media screen and (max-width: $small-screen) {
                margin-bottom: 30px;
            }

        }
    }
    .btnimdb{
        text-align: center !important;
        border: 3px solid #316879;
        background-color: #F47A60;
        color: #316879;
        padding: 16px;
        font-size: 16px;
        font-family:"damion", sans-serif;
        font-size:1.2em;
        margin-bottom:20px;
    }

    .btn{
        display:flex;
        justify-content:space-around;
    }


    #refresh{
        text-align: center !important;
        border: 3px solid #316879;
        background-color: #F47A60;
        color: #316879;
        padding: 16px;
        font-size: 16px;
        font-family:"damion", sans-serif;
        font-size:1.2em;
        margin-bottom:20px;
    }



    .movie-info {
        grid-area: m;
        &>div {
            margin-bottom: 30px;
        }
    }
        .header-section {
            p {
                margin: 5px 0;
            }
            }
    }

    .relaunch{
        width: 100%;
    }

    .btnrandom{
        text-align: center;
        border: 3px solid #316879;
        background-color: #F47A60;
        color: #316879;
        padding: 16px;
        font-size: 16px;
        border-radius: 20%;
        font-family:"damion", sans-serif;
        font-size:1.2em;
        margin: 25px auto 25px auto;
    }

