.titre1{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top:5%;
    color:#F47A60;
}
.titre2{
    text-align: center;
}
.gen{
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 3px solid #316879;
    margin:0% 15% 0% 15%; 
    padding: 0.5%

}
.affiche{
    height: 300px;
    margin-right: 50px;
}

.filmul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center; 
    justify-content:space-around;
    padding: inherit;
}
.p{
    margin: 5px 15% 5px 15%;
    text-align: justify;
}

.gena{
    text-align: center;
    margin:5px auto;
}