.h1form{
    text-align: center;
    font-size: 3em;
    font-family:"damion", sans-serif;
    color: #F47A60;

}

.form{
    text-align: center;

}

.inputform{

        padding: 15px;
        border: 2px solid #F47A60;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 15%;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        color: #316879;
    }
    .inputform::placeholder{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #316879;



    }
.inputform1{

        padding: 15px;
        border: 2px solid #F47A60;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 30%;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        color: #316879;
        font-size: 13px;
        margin-top: 5px;
    }
    .inputform1::placeholder{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #316879;
    }
.inputform2{

        padding: 15px;
        border: 2px solid #F47A60;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 30%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #316879;
        font-size: 13px;
}
.inputform2::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #316879;
}
.inputbtn{
    font-family:"damion", sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
    border: 2px solid #316879;
    background-color: #F47A60;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 15%;
    box-sizing: border-box;
    color: #316879 ;
}
