@import url("https://fonts.googleapis.com/css?family=Lato");
header {
  font-family: "damion", sans-serif;
  font-size: 1.2em;
}

.logo {
  height: 130 !important;
  width: 283px;
}

.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #F47A60;
}

.header2 {
  height: 80px;
  background-color: #316879;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.nav2 {
  margin: inherit;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.nav {
  border: 3px solid #F47A60 !important;
  background-color: #CED7D8;
  color: #316879;
  padding: 16px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 20%;
}

.nav:hover {
  background-color: #F47A60;
  transition: 0.2s;
}

/* Dropdown Button */
.dropbtn {
  border: 3px solid #F47A60 !important;
  background-color: #CED7D8;
  color: #316879;
  padding: 16px;
  font-size: 16px;
  border-radius: 20%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #316879;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  margin-left: 5%;
  transition: 0.5s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #F47A60;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #316879;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #F47A60;
  transition: 0.2s;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*-- Variables --*/
/*---- Global ----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #316879;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.titrefilm {
  font-size: 2em;
}

img {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  color: #F47A60;
  font-family: "damion", sans-serif;
}

h2 {
  color: #F47A60;
  font-family: "damion", sans-serif;
}

h3 {
  color: #F47A60;
  font-family: "damion", sans-serif;
}

h4 {
  color: #F47A60;
  font-family: "damion", sans-serif;
}

h5 {
  color: #F47A60;
  font-family: "damion", sans-serif;
}

h6 {
  color: #F47A60;
  font-family: "damion", sans-serif;
}

h2 {
  font-size: 1em;
  margin-bottom: 15px;
}

.movie-info {
  margin-left: 10px;
  text-align: center;
  padding-bottom: 25px;
}

/*movie-card*/
.movie-card {
  border: 3px solid #316879;
  margin: 5% 10% 0 10%;
  display: grid;
  grid-template-columns: 2fr 400px 0.5fr 400px 2fr;
  grid-template-areas: ". p . m .";
}
@media screen and (max-width: 1024px) {
  .movie-card {
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  }
}
@media screen and (max-width: 780px) {
  .movie-card {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: ". p ." ". m .";
  }
}
@media screen and (max-width: 500px) {
  .movie-card {
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-areas: ". p ." ". m .";
  }
}
.movie-card .poster-wrapper {
  grid-area: p;
}
.movie-card .poster-wrapper .poster {
  position: relative;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .movie-card .poster-wrapper .poster {
    margin-bottom: 30px;
  }
}
.movie-card .btnimdb {
  text-align: center !important;
  border: 3px solid #316879;
  background-color: #F47A60;
  color: #316879;
  padding: 16px;
  font-size: 16px;
  border-radius: 20%;
  font-family: "damion", sans-serif;
  font-size: 1.2em;
}
.movie-card .movie-info {
  grid-area: m;
}
.movie-card .movie-info > div {
  margin-bottom: 30px;
}
.movie-card .header-section p {
  margin: 5px 0;
}

.div1admin {
  margin: 2% auto 5% auto;
  text-align: center;
}

.aadmin {
  font-size: 3em;
  padding: 0px 5% 0px 5%;
  color: #F47A60;
}

.search {
  text-align: center;
}

.search1 {
  border: 1px solid #F47A60;
  font-family: "damion", sans-serif;
  color: #F47A60 !important;
  font-size: 2em;
  padding: 5px;
  text-align: center;
}

.search1::placeholder {
  color: #F47A60;
}

.search2 {
  font-size: 1.5em;
  border: 1px solid #F47A60;
  background-color: #316879;
  font-family: "damion", sans-serif;
  text-align: center;
  color: #F47A60;
  padding: 9px;
  margin-left: 10px;
}

.formcon {
  text-align: center;
  margin-top: 25px;
}

.formheadconnect {
  border: 1px solid #F47A60;
  font-family: "damion", sans-serif;
  color: #F47A60 !important;
  font-size: 2em;
  padding: 5px;
  text-align: center;
}

.formheadconnect::placeholder {
  color: #F47A60;
}

.formheadconnect2 {
  border: 1px solid #F47A60;
  font-family: "damion", sans-serif;
  color: #F47A60 !important;
  font-size: 2em;
  padding: 5px;
  text-align: center;
}

.formheadconnect2::placeholder {
  color: #F47A60;
}

@media screen and (max-width: 500px) {
  .tab {
    font-size: 0.5em;
  }
}

.btnconnecthead {
  font-size: 1.5em;
  border: 1px solid #F47A60;
  background-color: #316879;
  font-family: "damion", sans-serif;
  text-align: center;
  color: #F47A60;
  padding: 9px;
  margin-left: 10px;
}

.tabgen {
  padding: 5px 10%;
  margin: auto;
}

.tabmov1 {
  font-size: 1.5em;
}

.tabmov2 {
  font-size: 1.5em;
  margin: 0 10px 0 20px;
}

.btnad1 {
  font-size: 1.5em;
  color: #F47A60;
  margin-right: 30px;
  padding-left: 30px;
}

.btnad2 {
  font-size: 1.5em;
  color: #F47A60;
}

/*# sourceMappingURL=style.css.map */
